<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈 화면</title>
    <link href="/static/css/stylesheet.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
    </style>
</head>
<body>
    <header>
        <div class="navbar">
                <!-- a태그는 display: block을 해줘야만 text-align을 쳐 써먹을 수 있다-->
                <a id= "back" href="/">illusion</a>
            <ul>
                <li><a href="/login">로그인</a></li>
                <li><a href="/signup">회원가입</a></li>
            </ul>
        </div>
    </header>
    <article>

    </article>
    <footer>
        <p>COMPANY : (주)나혼자개발한다 / OWNER : 정희준 / ADDRESS : 서울특별시 성북구 케로로 24 베이컨가 4층 402-4호</p>
        <p>TEL : 02-1464-5244 / BUSINESS LICENCE : 814-84-01484 / ONLINE BUSINESS LICENCE : 제2014-서울영장포-17435호</p>
        <p>MASTER : 이순신 { WEBMASTER _ phonecase0424@alone.com }</p>
        <p>COPYRIGHT (C) 2014 ALL RIGHTS RESERVED. 호스팅제공: 카페24(주)</p>
    </footer>
</body>
</html>
<!-- 로그인 하지 않았을 때 https://www.shapely.co.kr/ -->
<!-- 로그인 했을 때 https://www.shapely.co.kr/ 좇됨 -->